body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
}

header {
  background-color: #5EB7C2;
  color: rgb(245, 245, 245);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.5em;
  margin: 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color:#324B4E;
}

a {
  text-decoration: none;
  color: rgb(245, 245, 245);
}

i {
  transition: all 0.25s linear;
}

i:hover {
  background-color: rgba(255, 255, 255, 0.5); 
  transform: scale(1.2);
}

i:focus {
  background-color: rgba(255, 255, 255, 0.5); 
  transform: scale(1.2);
}

section:nth-child(even) {
  background-color:#064F55;
}

.address {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-self: center;
  align-items: space-around;
}

footer {
  background-color: #5EB7C2;
  color: rgb(245, 245, 245);
  padding: 12px;
  text-align: center;
}


.about {
  display: flex;
  max-width: 450px;
  padding: 8px 16px;
}

.about p{
  text-align: center;
  line-height: 20px;
  font-size: 18px;
}

.contact-me {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.contact-me-footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.get-in-touch {
  margin-bottom: 25px;
  font-size: 22px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 5px;
  margin: 0 auto;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.screen-shot {
  height: 250px;
  width: 100%;
  border-bottom: 1px solid rgb(245, 245, 245);
  
}

.project-desc {
  color: rgb(245, 245, 245);
  max-width: 350px;
  align-self: center;
  font-size: 20px;
  line-height: 1.5;
}

.info {
  width: 100%;
  min-height: 55px;
  background: rgba(255, 255, 255, 0.25);
  transition: background-color 0.25s linear;
}

.info:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (min-width: 769px) {
  header {
    flex-direction: row;
    text-align: left;
  }

  .title {
    text-align: center;
  }

  .about p {
    text-align: left;
    line-height: 32px;
    font-size: 20px;
  }

  .contact-me {
    justify-content: space-between;
  }

  .contact-me-footer {
    width: 25%;
    margin: 0 auto 20px auto;
  }

  .address {
    display: flex;
    justify-content: space-between;
  }

  .project {
    flex-direction: row;
    justify-content: space-around;
  }

  .project-desc {
    max-width: 450px;
  }
  .card {
    margin: 0;
  }
}